<li>
{{id}}.{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{!-- {{#if devoured}}Devour it!{{else}}Devoured!{{/if}} --}}Devour it!
	</button>

</li>